{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        <!--{% trans 'Your username is' %} <b>{{ request.user.username }}</b>-->
       
<p><b style="font-size: 150%">The Spaced Database </b>({{total}} Users) </b></p>
        
<table  style="border-spacing: 500px" >





<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style="padding-right: 10px;"><b><u><h6 style="color:black;">Content Marketing</h6></u></b></td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/d3_animation_fb">3D Animation Facebook</a></td><td></td>
<td> {{d3_animation_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/d3_animation_fb_ads">3D Animation Facebook Ads</a></td><td></td>
<td> {{d3_animation_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/d3_modeling_fb">3d Modeling Facebook</a></td><td></td>
<td> {{d3_modeling_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/d3_modeling_fb_ads">3d Modeling Facebook Ads</a></td><td></td>
<td> {{d3_modeling_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/blogging_fb">Blogging Facebook</a></td><td></td>
<td> {{blogging_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/blogging_fb_ads">Blogging Facebook Ads</a></td><td></td>
<td> {{blogging_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/content_marketing_fb">Content Marketing Facebook</a></td><td></td>
<td> {{content_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/content_marketing_fb_ads">Content Marketing Facebook Ads</a></td><td></td>
<td> {{content_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/email_marketing_fb">Email Marketing Facebook</a></td><td></td>
<td> {{email_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/email_marketing_fb_ads">Email Marketing Facebook Ads</a></td><td></td>
<td> {{email_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/figma_design_fb">Figma Design Facebook</a></td><td></td>
<td> {{figma_design_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/figma_design_fb_ads">Figma Design Facebook Ads</a></td><td></td>
<td> {{figma_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/graphic_design_fb">Graphic Design Facebook</a></td><td></td>
<td> {{graphic_design_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/graphic_design_fb_ads">Graphic Design Facebook Ads</a></td><td></td>
<td> {{graphic_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/infographics_fb">Infographics Facebook</a></td><td></td>
<td> {{infographics_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/infographics_fb_ads">Infographics Facebook Ads</a></td><td></td>
<td> {{infographics_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/instagram_marketing_fb">Instagram Marketing Facebook</a></td><td></td>
<td> {{instagram_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/instagram_marketing_fb_ads">Instagram Marketing Facebook Ads</a></td><td></td>
<td> {{instagram_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/marketing_video_fb">Marketing Videos Facebook</a></td><td></td>
<td> {{marketing_video_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/marketing_video_fb_ads">Marketing Videos Facebook Ads</a></td><td></td>
<td> {{marketing_video_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/poadcasting_fb">Poadcasting Facebook</a></td><td></td>
<td> {{poadcasting_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/poadcasting_fb_ads">Poadcasting Facebook Ads</a></td><td></td>
<td> {{poadcasting_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/social_media_marketing_fb">Social Media Marketing Facebook</a></td><td></td>
<td> {{social_media_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/social_media_marketing_fb_ads">Social Media Marketing Facebook Ads</a></td><td></td>
<td> {{social_media_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/tiktok_marketing_fb">Tiktok Marketing Facebook</a></td><td></td>
<td> {{tiktok_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/tiktok_marketing_fb_ads">Tiktok Marketing Facebook Ads</a></td><td></td>
<td> {{tiktok_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/video_marketing_fb">Video Marketing Facebook</a></td><td></td>
<td> {{video_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/video_marketing_fb_ads">Video Marketing Facebook Ads</a></td><td></td>
<td> {{video_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/youtube_marketing_fb">Youtube Marketing Facebook</a></td><td></td>
<td> {{youtube_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/youtube_marketing_fb_ads">Youtube Marketing Facebook Ads</a></td><td></td>
<td> {{youtube_marketing_fb_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/accounts/animation_lix">3D Animation Linkedin (L)</a></td><td></td>
<td> {{animation_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/animation_lix_ads">3D Animation Linkedin (L) Ads</a></td><td></td>
<td> {{animation_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/content_lix">3D Content Linkedin (L)</a></td><td></td>
<td> {{content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/content_lix_ads">3D Content Linkedin (L) Ads</a></td><td></td>
<td> {{content_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/adtech_lix">Adtech Linkedin (L)</a></td><td></td>
<td> {{adtech_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/adtech_lix_ads">Adtech Linkedin (L) Ads</a></td><td></td>
<td> {{adtech_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/blogging_lix">Blogging Linkedin (L)</a></td><td></td>
<td> {{blogging_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/blogging_lix_ads">Blogging Linkedin (L) Ads</a></td><td></td>
<td> {{blogging_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/content_distri_lix">Content Distribution Linkedin (L)</a></td><td></td>
<td> {{content_distri_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/content_distri_lix_ads">Content Distribution Linkedin (L) Ads</a></td><td></td>
<td> {{content_distri_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/conversion_lix">Conversion API Linkedin (L)</a></td><td></td>
<td> {{conversion_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/conversion_lix_ads">Conversion API Linkedin (L) Ads</a></td><td></td>
<td> {{conversion_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/infographics_lix">Infographics Linkedin (L)</a></td><td></td>
<td> {{infographics_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/infographics_lix_ads">Infographics Linkedin (L) Ads</a></td><td></td>
<td> {{infographics_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/podcasting_lix">Podcasting Linkedin (L)</a></td><td></td>
<td> {{podcasting_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/podcasting_lix_ads">Podcasting Linkedin (L) Ads</a></td><td></td>
<td> {{podcasting_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/presentation_lix">Presentations Linkedin (L)</a></td><td></td>
<td> {{presentation_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/presentation_lix_ads">Presentations Linkedin (L) Ads</a></td><td></td>
<td> {{presentation_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/side_deck_lix">Slide Decks Linkedin (L)</a></td><td></td>
<td> {{side_deck_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/side_deck_lix_ads">Slide Decks Linkedin (L) Ads</a></td><td></td>
<td> {{side_deck_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/social_media_lix">Social Media Posts Linkedin (L)</a></td><td></td>
<td> {{social_media_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/social_media_lix_ads">Social Media Posts Linkedin (L) Ads</a></td><td></td>
<td> {{social_media_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/video_content_lix">Video Content Linkedin (L)</a></td><td></td>
<td> {{video_content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/video_content_lix_ads">Video Contentg Linkedin (L) Ads</a></td><td></td>
<td> {{video_content_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/visual_content_lix">Visual Content Linkedin (L)</a></td><td></td>
<td> {{visual_content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/accountsvisual_content_lix_ads">Visual Content Linkedin (L) Ads</a></td><td></td>
<td> {{visual_content_lix_ads}}</td></tr>


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style=" padding-right: 10px;"><b><u><h6 style="color:black">Marketing</h6></u></b></td>
</tr><tr>

<tr><td><a href="http://deva.is/accounts/accounts/digital_marketing_fb">Digital Marketing Facebook</a></td>
<td></td><td> {{digi_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/digital_marketing_fb_ads">Digital Marketing Facebook Ads</a></td>
<td></td><td> {{digital_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/dm_instagram">Digital Marketing Instagram</a></td><td></td>
<td>{{digi_insta}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/digital_marketing_insta_ads">Digital Marketing Instagram Ads</a></td><td></td>
<td>{{digital_marketing_insta_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/digital_marketing">Digital Marketing Linkedin (L)</a></td><td></td>
<td> {{dm}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/digital_marketing_lix_ads">Digital Marketing Linkedin (L) Ads</a></td><td></td>
<td> {{digital_marketing_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/digital_marketing_phantom">Digital Marketing Linkedin (P)</a></td>
<td></td><td> {{dm_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/digital_marketing_phantom_ads">Digital Marketing Linkedin (P) Ads</a></td>
<td></td><td> {{digital_marketing_phantom_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/accounts/dmar_twi">Digital Marketing Twitter</a></td>
<td></td><td> {{dmar_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/accounts/digital_marketing_twi_ads">Digital Marketing Twitter Ads</a></td>
<td></td><td> {{digital_marketing_twi_ads}}</td></tr>




<tr style="visibility: hidden"><td><a href="http://deva.is/accounts/accounts/yf_phantom">Yield Farming Linkedin (P)</a></td>
<td></td><td> {{yf_phantom}}</td>
<td><a href="http://deva.is/accounts/accounts/yield_farming_phantom_ads">Yield Farming Linkedin (P) Ads</a></td>
<td></td><td> {{yield_farming_phantom_ads}}</td></tr>



<!-- <tr><td><a href="http://deva.is/accounts/accounts/twitter_web3">Twitter</a></td>
<td></td><td> {{twitter3}}</td></tr>
 -->


</table>


    {% else %}

        <h5><b>Welcome to the Spaced Database.</b></h5>

    {% endif %}

{% endblock %}


