{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        <!--{% trans 'Your username is' %} <b>{{ request.user.username }}</b>-->
       
<p><b style="font-size: 150%">Marketing 2023 </b>({{total}} Users) </b></p>
        
<table  style="border-spacing: 500px" >


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style="padding-right: 10px;"><b><u><h6 style="color:black;">Collaboration Tools</h6></u></b></td></tr>

<tr><td><a href="http://deva.is/accounts/figma_lix">Figma Linkedin (L)</a></td><td></td>
<td> {{figma_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/figma_lix_ads">Figma Linkedin (L) Ads</a></td><td></td>
<td> {{figma_lix_ads}}</td></tr>
<!-- <tr><td><a href="http://deva.is/accounts/miro_lix">Miro LIX</a></td><td></td>
<td> {{miro_lix}}</td></tr> -->
<tr><td><a href="http://deva.is/accounts/notion_lix">Notion Linkedin (L)</a></td><td></td>
<td> {{notion_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/notion_lix_ads">Notion Linkedin (L) Ads</a></td><td></td>
<td> {{notion_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/figma_twi">Figma Twitter</a></td><td></td>
<td> {{figma_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/figma_twi_ads">Figma Twitter Ads</a></td><td></td>
<td> {{figma_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/notion_twi">Notion Twitter</a></td><td></td>
<td> {{notion_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/notion_twi_ads">Notion Twitter Ads</a></td><td></td>
<td> {{notion_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/onalytica_twi">Onalytica Twitter</a></td><td></td> 
<td> {{onalytica_twi}}</td><td></td> 
 <td><a href="http://deva.is/accounts/onalytica_twi_ads">Onalytica Twitter Ads</a></td><td></td>
<td> {{onalytica_twi_ads}}</td></tr> 


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr><td style="margin-bottom: 10px;padding-right: 10px;" ><b><u><h6 style="color:black;">Community Building</h6></u></b></td></tr>

<tr><td><a href="http://deva.is/accounts/cb_lix">Community Building Linkedin (L)</a></td>
<td></td><td> {{cb_LIX}}</td><td></td>
<td><a href="http://deva.is/accounts/cb_lix_ads">Community Building Linkedin (L) Ads</a></td>
<td></td><td> {{cb_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cmanag_lix">Community Management Linkedin (L)</a></td>
<td></td><td> {{cman_LIX}}</td><td></td>
<td><a href="http://deva.is/accounts/cmanag_lix_ads">Community Management Linkedin (L) Ads</a></td>
<td></td><td> {{cmanag_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cm_lix">Community Moderator Linkedin (L)</a></td>
<td></td><td> {{cm_LIX}}</td><td></td>
<td><a href="http://deva.is/accounts/cm_lix_ads">Community Moderator Linkedin (L) Ads</a></td>
<td></td><td> {{cm_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/dc_lix">Discord Community Linkedin (L)</a></td>
<td></td><td> {{dc_LIX}}</td><td></td>
<td><a href="http://deva.is/accounts/dc_lix_ads">Discord Community Linkedin (L) Ads</a></td>
<td></td><td> {{dc_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/cb_phantom">Community Building Linkedin (P)</a></td>
<td></td><td> {{cb_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/cb_phantom_ads">Community Building Linkedin (P) Ads</a></td>
<td></td><td> {{cb_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cmanag_phantom">Community Management Linkedin (P)</a></td>
<td></td><td> {{cman_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/cmanag_phantom_ads">Community Management Linkedin (P) Ads</a></td>
<td></td><td> {{cmanag_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cm_phantom">Community Moderator Linkedin (P)</a></td>
<td></td><td> {{cm_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/cm_phantom_ads">Community Moderator Linkedin (P) Ads</a></td>
<td></td><td> {{cm_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/dc_phantom">Discord Community Linkedin (P)</a></td>
<td></td><td> {{dc_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/dc_phantom_ads">Discord Community Linkedin (P) Ads</a></td>
<td></td><td> {{dc_phantom_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/chatbots_twi_view">Chat Bots Twitter</a></td>
<td></td><td> {{chatbot_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/chatbot_twi_ads">Chat Bots Twitter Ads</a></td>
<td></td><td> {{chatbot_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cb_twi_view">Community Building Twitter</a></td>
<td></td><td> {{cb_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/cb_twi_ads">Community Building Twitter Ads</a></td>
<td></td><td> {{cb_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cg_twi_view">Community Growth Twitter</a></td>
<td></td><td> {{cg_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/cg_twi_ads">Community Growth Twitter Ads</a></td>
<td></td><td> {{cg_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/cm_twi_view">Community Management Twitter</a></td>
<td></td><td> {{cm_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/cm_twi_ads">Community Management Twitter Ads</a></td>
<td></td><td> {{cm_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/discordbot_twi_view">Discord Bots Twitter</a></td>
<td></td><td> {{discordbot_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/db_twi_ads">Discord Bots Twitter Ads</a></td>
<td></td><td> {{db_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/twi_marketing_view">Twitter Marketing Twitter</a></td>
<td></td><td> {{twi_marketing_count}}</td><td></td>
<td><a href="http://deva.is/accounts/twi_marketing_twi_ads">Twitter Marketing Twitter Ads</a></td>
<td></td><td> {{twi_marketing_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/web3_com_twi_view">Web3 Community Twitter</a></td>
<td></td><td> {{web3_com_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/web3_commu_twi_ads">Web3 Community Twitter Ads</a></td>
<td></td><td> {{web3_commu_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/web3_marketing_twi_view">Web3 Marketing Twitter</a></td>
<td></td><td> {{web3_marketing_twi_count}}</td><td></td>
<td><a href="http://deva.is/accounts/web3_marketing_twi_ads">Web3 Marketing Twitter Ads</a></td>
<td></td><td> {{web3_marketing_twi_ads}}</td></tr>


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style="padding-right: 10px;"><b><u><h6 style="color:black;">Content Marketing</h6></u></b></td></tr>

<tr><td><a href="http://deva.is/accounts/d3_animation_fb">3D Animation Facebook</a></td><td></td>
<td> {{d3_animation_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_animation_fb_ads">3D Animation Facebook Ads</a></td><td></td>
<td> {{d3_animation_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/d3_modeling_fb">3d Modeling Facebook</a></td><td></td>
<td> {{d3_modeling_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_modeling_fb_ads">3d Modeling Facebook Ads</a></td><td></td>
<td> {{d3_modeling_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/blogging_fb">Blogging Facebook</a></td><td></td>
<td> {{blogging_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/blogging_fb_ads">Blogging Facebook Ads</a></td><td></td>
<td> {{blogging_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/content_marketing_fb">Content Marketing Facebook</a></td><td></td>
<td> {{content_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/content_marketing_fb_ads">Content Marketing Facebook Ads</a></td><td></td>
<td> {{content_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/email_marketing_fb">Email Marketing Facebook</a></td><td></td>
<td> {{email_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/email_marketing_fb_ads">Email Marketing Facebook Ads</a></td><td></td>
<td> {{email_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/figma_design_fb">Figma Design Facebook</a></td><td></td>
<td> {{figma_design_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/figma_design_fb_ads">Figma Design Facebook Ads</a></td><td></td>
<td> {{figma_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/graphic_design_fb">Graphic Design Facebook</a></td><td></td>
<td> {{graphic_design_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/graphic_design_fb_ads">Graphic Design Facebook Ads</a></td><td></td>
<td> {{graphic_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/infographics_fb">Infographics Facebook</a></td><td></td>
<td> {{infographics_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/infographics_fb_ads">Infographics Facebook Ads</a></td><td></td>
<td> {{infographics_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/instagram_marketing_fb">Instagram Marketing Facebook</a></td><td></td>
<td> {{instagram_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/instagram_marketing_fb_ads">Instagram Marketing Facebook Ads</a></td><td></td>
<td> {{instagram_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/marketing_video_fb">Marketing Videos Facebook</a></td><td></td>
<td> {{marketing_video_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/marketing_video_fb_ads">Marketing Videos Facebook Ads</a></td><td></td>
<td> {{marketing_video_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/poadcasting_fb">Poadcasting Facebook</a></td><td></td>
<td> {{poadcasting_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/poadcasting_fb_ads">Poadcasting Facebook Ads</a></td><td></td>
<td> {{poadcasting_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/social_media_marketing_fb">Social Media Marketing Facebook</a></td><td></td>
<td> {{social_media_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/social_media_marketing_fb_ads">Social Media Marketing Facebook Ads</a></td><td></td>
<td> {{social_media_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/tiktok_marketing_fb">Tiktok Marketing Facebook</a></td><td></td>
<td> {{tiktok_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/tiktok_marketing_fb_ads">Tiktok Marketing Facebook Ads</a></td><td></td>
<td> {{tiktok_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/video_marketing_fb">Video Marketing Facebook</a></td><td></td>
<td> {{video_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/video_marketing_fb_ads">Video Marketing Facebook Ads</a></td><td></td>
<td> {{video_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/youtube_marketing_fb">Youtube Marketing Facebook</a></td><td></td>
<td> {{youtube_marketing_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/youtube_marketing_fb_ads">Youtube Marketing Facebook Ads</a></td><td></td>
<td> {{youtube_marketing_fb_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/animation_lix">3D Animation Linkedin (L)</a></td><td></td>
<td> {{animation_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/animation_lix_ads">3D Animation Linkedin (L) Ads</a></td><td></td>
<td> {{animation_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/content_lix">3D Content Linkedin (L)</a></td><td></td>
<td> {{content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/content_lix_ads">3D Content Linkedin (L) Ads</a></td><td></td>
<td> {{content_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/adtech_lix">Adtech Linkedin (L)</a></td><td></td>
<td> {{adtech_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/adtech_lix_ads">Adtech Linkedin (L) Ads</a></td><td></td>
<td> {{adtech_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/blogging_lix">Blogging Linkedin (L)</a></td><td></td>
<td> {{blogging_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/blogging_lix_ads">Blogging Linkedin (L) Ads</a></td><td></td>
<td> {{blogging_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/content_distri_lix">Content Distribution Linkedin (L)</a></td><td></td>
<td> {{content_distri_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/content_distri_lix_ads">Content Distribution Linkedin (L) Ads</a></td><td></td>
<td> {{content_distri_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/conversion_lix">Conversion API Linkedin (L)</a></td><td></td>
<td> {{conversion_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/conversion_lix_ads">Conversion API Linkedin (L) Ads</a></td><td></td>
<td> {{conversion_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/infographics_lix">Infographics Linkedin (L)</a></td><td></td>
<td> {{infographics_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/infographics_lix_ads">Infographics Linkedin (L) Ads</a></td><td></td>
<td> {{infographics_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/podcasting_lix">Podcasting Linkedin (L)</a></td><td></td>
<td> {{podcasting_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/podcasting_lix_ads">Podcasting Linkedin (L) Ads</a></td><td></td>
<td> {{podcasting_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/presentation_lix">Presentations Linkedin (L)</a></td><td></td>
<td> {{presentation_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/presentation_lix_ads">Presentations Linkedin (L) Ads</a></td><td></td>
<td> {{presentation_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/side_deck_lix">Slide Decks Linkedin (L)</a></td><td></td>
<td> {{side_deck_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/side_deck_lix_ads">Slide Decks Linkedin (L) Ads</a></td><td></td>
<td> {{side_deck_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/social_media_lix">Social Media Posts Linkedin (L)</a></td><td></td>
<td> {{social_media_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/social_media_lix_ads">Social Media Posts Linkedin (L) Ads</a></td><td></td>
<td> {{social_media_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/video_content_lix">Video Content Linkedin (L)</a></td><td></td>
<td> {{video_content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/video_content_lix_ads">Video Contentg Linkedin (L) Ads</a></td><td></td>
<td> {{video_content_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/visual_content_lix">Visual Content Linkedin (L)</a></td><td></td>
<td> {{visual_content_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/visual_content_lix_ads">Visual Content Linkedin (L) Ads</a></td><td></td>
<td> {{visual_content_lix_ads}}</td></tr>


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr><td style="margin-bottom: 10px;padding-right: 10px;" ><b><u><h6 style="color:black;">Design</h6></u></b></td></tr>

<tr><td><a href="http://deva.is/accounts/3d_design_fb">3d Design Facebook</a></td>
<td></td><td>{{d3_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_design_fb_ads">3d Design Facebook Ads</a></td>
<td></td><td>{{d3_design_fb_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/graphic_design_fb">Graphic Design Facebook</a> </td>
<td></td><td>{{gd_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/graphic_design_fb_ads">Graphic Design Facebook Ads</a> </td>
<td></td><td>{{graphic_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/ux_ui_fb">UI & UX Design Facebook</a></td>
<td></td><td> {{ux_ui_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/uiux_design_fb_ads">UI & UX Design Facebook Ads</a></td>
<td></td><td> {{uiux_design_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/uiux_instagram">UI & UX Design Instagram</a></td><td></td>
<td> {{uiux_instagram}}</td><td></td>
<td><a href="http://deva.is/accounts/uiux_insta_ads">UI & UX Design Instagram Ads</a></td><td></td>
<td> {{uiux_insta_ads}}</td>
</tr>


<tr><td><a href="http://deva.is/accounts/3d_design_lix">3d Design Linkedin (L)
</a> </td><td></td><td>{{d3_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_design_lix_ads">3d Design Linkedin (L) Ads
</a> </td><td></td><td>{{d3_design_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/bd_design_lix">Brand Designers Linkedin (L)</a> </td>
<td></td><td>{{bd_design_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/brand_designers_lix_ads">Brand Designers Linkedin (L) Ads</a> </td>
<td></td><td>{{brand_designers_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/branding_consultant_lix">Branding Consultant Linkedin (L)</a> </td>
<td></td><td>{{bc_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/branding_consultant_lix_ads">Branding ConsultaLinkedin (L) Ads</a> </td>
<td></td><td>{{branding_consultant_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/graphic_design_lix">Graphic Design Linkedin (L)</a> </td>
<td></td><td>{{gd_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/graphic_design_lix_ads">Graphic Design Linkedin (L) Ads</a> </td>
<td></td><td>{{graphic_design_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/marketing_designer_lix">Marketing Designer Linkedin (L)</a> </td>
<td></td><td>{{md_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/marketing_designer_lix_ads">Marketing Designer Linkedin (L) Ads</a> </td>
<td></td><td>{{marketing_designer_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/uiux">UI & UX Design Linkedin (L)</a></td>
<td></td><td> {{uiux}}</td><td></td>
<td><a href="http://deva.is/accounts/uiux_lix_ads">UI & UX Design Linkedin (L) Ads</a></td>
<td></td><td> {{uiux_lix_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/visual_design_lix">Visual Design Linkedin (L)</a> </td>
<td></td><td>{{vd_lix}}</td><td></td>
<td><a href="http://deva.is/accounts/visual_design_lix_ads">Visual Design Linkedin (L) Ads</a> </td>
<td></td><td>{{visual_design_lix_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/3d_design_phantom">3d Design Linkedin (P)</a> </td>
<td></td><td>{{d3_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_design_phantom_ads">3d Design Linkedin (P) Ads</a> </td>
<td></td><td>{{d3_design_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/bd_design_phantom">Brand Designers Linkedin (P)</a> </td>
<td></td><td>{{bd_design_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/brand_designers_phantom_ads">Brand Designers Linkedin (P) Ads</a> </td>
<td></td><td>{{brand_designers_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/branding_consultant_phantom">Branding Consultant Linkedin (P)</a> </td><td></td><td>{{bc_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/branding_consultant_phantom_ads">Branding Consultant Linkedin (P) Ads</a> </td><td></td><td>{{branding_consultant_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/graphic_design_phantom">Graphic Design Linkedin (P)</a> </td>
<td></td><td>{{gd_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/graphic_design_phantom_ads">Graphic Design Linkedin (P) Ads</a> </td>
<td></td><td>{{graphic_design_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/marketing_designer_phantom">Marketing Designer Linkedin (P)</a></td><td></td><td>{{md_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/marketing_designer_phantom_ads">Marketing Designer Linkedin (P) Ads</a></td><td></td><td>{{marketing_designer_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/uiux_phantom">UI & UX Design Linkedin (P)</a></td>
<td></td><td> {{uiux_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/uiux_design_phantom_ads">UI & UX Design Linkedin (P) Ads</a></td>
<td></td><td> {{uiux_design_phantom_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/visual_design_phantom">Visual Design Linkedin (P)</a> </td>
<td></td><td>{{vd_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/visual_design_phantom_ads">Visual Design Linkedin (P) Ads</a> </td>
<td></td><td>{{visual_design_phantom_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/3d_design_twi">3d Design Twitter</a> </td>
<td></td><td>{{d3_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/d3_design_twi_ads">3d Design Twitter Ads</a> </td>
<td></td><td>{{d3_design_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/branding_consultant_twi">Branding Consultant Twitter</a> </td>
<td></td><td>{{bc_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/branding_consultant_twi_ads">Branding Consultant Twitter Ads</a> </td>
<td></td><td>{{branding_consultant_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/graphic_design_twi">Graphic Design Twitter</a> </td>
<td></td><td>{{gd_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/graphic_design_twi_ads">Graphic Design Twitter Ads</a> </td>
<td></td><td>{{graphic_design_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/marketing_designer_twi">Marketing Designer Twitter</a> </td>
<td></td><td>{{md_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/marketing_designer_twi_ads">Marketing Designer Twitter Ads</a> </td>
<td></td><td>{{marketing_designer_twi_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/uxuidesign_twi">UI & UX Design Twitter</a></td>
<td></td><td> {{uxuidesign_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/uiux_design_twi_ads">UI & UX Design Twitter Ads</a></td>
<td></td><td> {{uiux_design_twi_ads}}</td></tr>
<tr><td><a href="http://deva.is/accounts/visual_design_twi">Visual Design Twitter</a> </td>
<td></td><td>{{vd_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/visual_design_twi_ads">Visual Design Twitter Ads</a> </td>
<td></td><td>{{visual_design_twi_ads}}</td></tr>



<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style="padding-right: 10px;"><b><u><h6 style="color:black;">Expert Networks</h6></u></b></td></tr>

<!-- <td><a href="http://deva.is/accounts/tool_twi">Collaboration Tools Twitter</a></td><td></td>
<td> {{tool_twi}}</td></tr> -->

<tr><td><a href="http://deva.is/accounts/micromenter_insta ">MicroMentor Instagram</a></td>
<td></td><td> {{micromenter_insta}}</td><td></td>
<td><a href="http://deva.is/accounts/micromente_insta_ads ">MicroMentor Instagram Ads</a></td>
<td></td><td> {{micromente_insta_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/menterpass_insta ">MentorPass Instagram</a></td>
<td></td><td> {{menterpass_insta}}</td><td></td>
<td><a href="http://deva.is/accounts/menterpass_insta_ads ">MentorPass Instagram Ads</a></td>
<td></td><td> {{menterpass_insta_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/micromenter_twi ">MicroMentor Twitter</a></td>
<td></td><td> {{micromenter_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/micromentor_twi_ads ">MicroMentor Twitter Ads</a></td>
<td></td><td> {{micromentor_twi_ads}}</td></tr>


<tr><td><a href="http://deva.is/accounts/menterpass_twi ">MentorPass Twitter</a></td>
<td></td><td> {{menterpass_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/mentorpass_twi_ads ">MentorPass Twitter Ads</a></td>
<td></td><td> {{mentorpass_twi_ads}}</td></tr>


<tr style="visibility: hidden"><td>a </td><td> a</td></tr>
<tr>
<td style=" padding-right: 10px;"><b><u><h6 style="color:black">Marketing</h6></u></b></td>
</tr><tr>

<tr><td><a href="http://deva.is/accounts/digital_marketing_fb">Digital Marketing Facebook</a></td>
<td></td><td> {{digi_fb}}</td><td></td>
<td><a href="http://deva.is/accounts/digital_marketing_fb_ads">Digital Marketing Facebook Ads</a></td>
<td></td><td> {{digital_marketing_fb_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/dm_instagram">Digital Marketing Instagram</a></td><td></td>
<td>{{digi_insta}}</td><td></td>
<td><a href="http://deva.is/accounts/digital_marketing_insta_ads">Digital Marketing Instagram Ads</a></td><td></td>
<td>{{digital_marketing_insta_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/digital_marketing">Digital Marketing Linkedin (L)</a></td><td></td>
<td> {{dm}}</td><td></td>
<td><a href="http://deva.is/accounts/digital_marketing_lix_ads">Digital Marketing Linkedin (L) Ads</a></td><td></td>
<td> {{digital_marketing_lix_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/digital_marketing_phantom">Digital Marketing Linkedin (P)</a></td>
<td></td><td> {{digital_marketing_phantom}}</td><td></td>
<td><a href="http://deva.is/accounts/digital_marketing_phantom_ads">Digital Marketing Linkedin (P) Ads</a></td>
<td></td><td> {{digital_marketing_phantom_ads}}</td></tr>

<tr><td><a href="http://deva.is/accounts/dmar_twi">Digital Marketing Twitter</a></td>
<td></td><td> {{dmar_twi}}</td><td></td>
<td><a href="http://deva.is/accounts/digital_marketing_twi_ads">Digital Marketing Twitter Ads</a></td>
<td></td><td> {{digital_marketing_twi_ads}}</td></tr>




<tr style="visibility: hidden"><td><a href="http://deva.is/accounts/yf_phantom">Yield Farming Linkedin (P)</a></td>
<td></td><td> {{yf_phantom}}</td>
<td><a href="http://deva.is/accounts/yield_farming_phantom_ads">Yield Farming Linkedin (P) Ads</a></td>
<td></td><td> {{yield_farming_phantom_ads}}</td></tr>



<!-- <tr><td><a href="http://deva.is/accounts/twitter_web3">Twitter</a></td>
<td></td><td> {{twitter3}}</td></tr>
 -->


</table>


    {% else %}

        <h5><b>Welcome to the Spaced Database.</b></h5>

    {% endif %}

{% endblock %}


